# c_game files
c_game/game
c_game/game.exe
c_game/.vscode
c_game/*.o

# server
server/bomberman-server
server/bomberman-one-shot-server

# client_go
client_go/client_go

# client_rust
client_rust/target

# client_js
client_js/node_modules

# match_runner
match_runner/.env

#deployment
deployment/.env

#website
website/.env
website/node_modules
website/website
website/bombahead
