package dashboard

import (
	"github.com/N3moAhead/bomberman/website/internal/templates/layout"
	"github.com/N3moAhead/bomberman/website/internal/models"
)

templ Dashboard(user *models.User, csrfToken string) {
	@layout.Base(csrfToken, user) {
		<h1 class="text-2xl">Welcome to the Dashboards</h1>
		<p>{ user.Username }</p>
	}
}
