package leaderboard

import (
	"github.com/N3moAhead/bomberman/website/internal/templates/layout"
	"github.com/N3moAhead/bomberman/website/internal/models"
)

templ Leaderboard(csrfToken string, user *models.User) {
	@layout.Base(csrfToken, user) {
		<h1 class="text-2xl">Leaderboard</h1>
	}
}
