package leaderboard

import "github.com/N3moAhead/bomberman/website/internal/templates/layout"

templ Leaderboard(csrfToken string) {
	@layout.Base(csrfToken) {
		<h1 class="text-2xl">Leaderboard</h1>
	}
}
